# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Database
*.db

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Excel source (not needed in repo)
*.xlsx
